*

!.gitignore
!README.md
!Install.sh
!sddm.conf
!JetBrainsMono.zip
!catppuccin-mocha.zip

!waybar/
!waybar/**
!hypr/
!hypr/**
!eww/
!eww/**
!fuzzel/
!fuzzel/**
!zellij/
!zellij/**
!fish/
!fish/**
!kitty/
!kitty/**
!hyprpanel/
!hyprpanel/**
